.form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50vh;
  margin: auto;
}

.home-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 40vh;
  margin-bottom: 30px;
}

.message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: blue;
  user-select: none;
}

.message:hover {
  font-size: 19px;
}

.login-button {
  width: 30%;
  margin: auto;
  margin-top: 40px;
}
