.project-container {
  height: 100%;
  width: 100%;
}

.project-body {
  height: 90%;
  width: 90%;
  margin: auto;
  overflow: scroll;
}

.carousel {
  width: 100%;
}

.comments-container {
  margin-top: 30px;
}

.comments-list {
  width: 90%;
  margin: auto;
}

.input-comment {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
