.profile-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}

.profile-body {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  clip-path: circle(50% at 50% 50%);
}

.user-info {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.left-panel {
  flex-basis: 100%;
}

.edit-button {
  margin-left: 20px;
}

.interest-card {
  overflow: show;
}
