.coordonator-container {
  height: 90%;
  width: 90%;
  margin: auto;
  padding-top: 30px;
}

.text-center {
  margin-bottom: 30px;
}

.contact-header {
  font-size: 18px;
  font-weight: bold;
}

.contact-text {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
